<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>
<%inherit file="base.html" />
<%block name="title">${_("Page Not Found")}</%block>
<%block name="bodyclass">view-util util-404</%block>


<%block name="content">
<div class="wrapper-content wrapper">
  <section class="content">
    <header>
      <h1 class="title title-1">${_("Page not found")}</h1>
    </header>
    <article class="content-primary" role="main">
      <p>${Text(_('The page that you were looking for was not found. Please contact {link_start}support{link_end} and let us know').format(
        link_start=HTML('<a href="/faq">'),
        link_end=HTML('</a>')
      )}</p>
        
    </article>
  </section>
</div>
</%block>
